@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>Facebook, Stocks, Calendar, Chat</h2>
        </hgroup>
        <p>
            Customized Web Portal application - Release 1
        </p>
    </div>
</section>
}

<h3>We suggest the following:</h3>

<ol class="round">
    <li class="one">
        <h5>Facebook</h5>
        Right now we can add log in to Facebook and look at the news feed
    </li>

    <li class="two">
        <h5>Stocks</h5>
        We can search a stock ticker symbol and get an update about the status of that stock
    </li>

    <li class="three">
        <h5>Calendar</h5>
        You can view a Calendar
    </li>
    <li class="three">
        <h5>Chat</h5>
        No chat functionality has been implemented
    </li>
</ol>